/* client/src/WikiView.css */

/* 1. Base Layout */
.wiki-view-wrapper {
  margin-top: 88px; /* Header height */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: calc(100vh - 88px);
  background: #F9F7F2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wiki-view-frame {
  background: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  max-width: 1000px;
  width: 100%;
  margin: 0;
  flex-shrink: 0;
}

.wiki-view-container {
  font-family: sans-serif;
  font-size: 16px; /* Wikipedia standard */
  line-height: 1.6;
  color: #202122;
  background-color: #ffffff;
}

/* 2. The "Infobox" (The table on the right in your screenshot) */
.wiki-view-container .infobox {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  color: black;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  float: right; /* This makes it sit on the right side */
  clear: right;
  width: 22em; /* Standard width */
  font-size: 88%;
  line-height: 1.5em;
}

.wiki-view-container .infobox td,
.wiki-view-container .infobox th {
  vertical-align: top;
  text-align: left;
}

.wiki-view-container .infobox caption {
  font-size: 125%;
  font-weight: bold;
  padding: 0.2em;
  text-align: center;
}

/* 3. The "Table of Contents" (The box with the list of sections) */
.wiki-view-container .toc {
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1;
  padding: 7px;
  font-size: 95%;
  display: table; /* Shrink to fit content */
  margin-bottom: 1em;
}

.wiki-view-container .toc h2 {
  font-family: sans-serif;
  font-size: 100%;
  font-weight: bold;
  border: none;
  padding: 0;
  margin: 0;
  display: inline;
}

.wiki-view-container .toc ul {
  list-style-image: none;
  list-style-type: none;
  margin: 0.3em 0;
  padding-left: 2em;
}

/* 4. Images & Thumbnails (If you decide to keep images) */
.wiki-view-container .thumb {
  margin-bottom: 0.5em;
  border: 1px solid #c8ccd1;
  background-color: #f8f9fa;
  font-size: 94%;
  text-align: center;
  overflow: hidden;
}

.wiki-view-container .tright {
  float: right;
  clear: right;
  margin: 0.5em 0 1.3em 1.4em;
}

/* 5. Headings */
.wiki-view-container h1,
.wiki-view-container h2 {
  font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
  border-bottom: 1px solid #a2a9b1;
  font-weight: normal;
  margin-bottom: 0.25em;
  margin-top: 1em;
}

.wiki-view-container h1 { font-size: 1.8em; }
.wiki-view-container h2 { font-size: 1.5em; }

/* 6. Standard Links */
.wiki-view-container a {
  color: #3366cc;
  text-decoration: none;
}
.wiki-view-container a:hover {
  text-decoration: underline;
}

/* 7. Mobile Responsiveness */
/* On small screens, force the infobox to stack instead of float */
@media (max-width: 768px) {
  .wiki-view-container .infobox {
    float: none;
    width: 100%;
    margin: 0;
  }
}

/* Make images responsive so they don't overflow */
.wiki-view-container img {
  max-width: 100%;
  height: auto;
}

/* Style the thumbnail caption box */
.wiki-view-container .thumb {
  border: 1px solid #c8ccd1;
  background-color: #f8f9fa;
  margin-bottom: 0.5em;
  /* Float logic handled by .tright/.tleft classes from Wikipedia */
}

.wiki-view-container .thumbinner {
  padding: 3px;
  text-align: center;
}

.wiki-view-container .thumbcaption {
  font-size: 94%;
  padding: 3px;
  text-align: left;
  line-height: 1.4em;
}

/* Ensure the infobox image centers correctly */
.wiki-view-container .infobox img {
  display: block;
  margin: 0 auto;
}